<h3 class="text-center text-light">User Details</h3>

<form accept-charset="UTF-8" action="action_page.php" autocomplete="off" method="GET" target="_blank">
    <fieldset>
        <legend class="text-light">Details:</legend> 
        <table class='table table-dark table-borderless table-hover table-sm' aria-labelledby="tableLabel"
        *ngIf="user">
        <tbody>
            <tr>
              <th scope="row">Name</th>
              <th scope="row">{{ user.name }}</th>
            </tr>
            <tr>
              <th scope="row">User Name</th>
              <td scope="row">{{ user.username }}</td>
            </tr>
          </tbody>
        </table>
    </fieldset>
   
    <fieldset>
      <legend class="text-light">Contact:</legend>
      <table class='table table-dark table-borderless table-hover table-sm' aria-labelledby="tableLabel"
        *ngIf="user">
  
        <tbody>
          <tr>
            <th scope="row">Phone</th>
            <td scope="row">{{ user.phone }}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td scope="row">{{ user.email }}</td>
          </tr>
          <tr>
            <th scope="row">Website</th>
            <td scope="row">{{ user.website }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <fieldset>
    <legend class="text-light">Address:</legend>
    <table class='table table-dark table-borderless table-hover table-sm' aria-labelledby="tableLabel"
        *ngIf="user">  
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td scope="row">{{ user.address.suite }} &nbsp;{{ user.address.street }}
              &nbsp;{{ user.address.city }}&nbsp;{{ user.address.zipcode }}</td>
          </tr>
          <tr>
            <th scope="row">Geo Location</th>
            <td scope="row">{{ user.address.geo.lat }} &nbsp; {{ user.address.geo.lng }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <fieldset>
      <legend class="text-light">Company:</legend>
      <table class='table table-dark table-borderless table-hover table-sm' *ngIf="user">
        <tbody>
          <tr>
            <th scope="row">Company</th>
            <td scope="row">{{ user.company.name }} &nbsp;{{ user.company.bs }} &nbsp;{{ user.company.catchPhrase }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  
  </form>